    <!DOCTYPE html>
    <html lang="fr" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        <!-- Author Meta -->
        <meta name="author" content="SilverSlopes">
        <!-- Meta Description -->
        <meta name="description" content="Vous êtes toujours les bienvenus pour faire partie de l'équipe. Parlez-nous de vous">
        <!-- Meta Keyword -->
        <meta name="keywords" content="Rejoignez silverslope, Rejoignez les développeurs web, la communauté des développeurs web Cameroun">
       <!--alternate link -->
       <link rel="alternate" href="https://silverslopecm.ml/en/join.html" hreflang="fr" />
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Rejoignez-nous | SilverSlopes</title>
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
            <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="css/linearicons.css">
            <link rel="stylesheet" href="css/owl.carousel.css">
            <link rel="stylesheet" href="css/font-awesome.min.css">
            <link rel="stylesheet" href="css/nice-select.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="css/default.css">
            <link rel="stylesheet" href="css/main.css">
            <link rel="stylesheet" href="css/loading.anim.css">
            <link rel="stylesheet" type="text/css" href="css/fonts.css">
            <link rel="stylesheet" href="css/hbmodal.css">
<!--            angular-->
           <script src="js/angular.min.js"></script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114313567-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114313567-2');
</script>

        </head>
<body ng-app="hireBody">
<!--        loading animation-->
<section id="ajax_modal" class="hb-modal">
   <div class="centered">
   </div>
</section>

        <!-- Start banner Area -->
        <section class="generic-banner relative">
            <!-- Start Header Area -->
            <header class="default-header">
                <nav class="navbar navbar-expand-lg  navbar-light">
                    <div class="container">
                        <a class="navbar-brand kaushan-lg" href="index.html" style="color:#fff;">
                              SilverSlopes
                          </a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="text-white lnr lnr-menu"></span>
                          </button>

                          <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li><a href="index.html#home">Accueil</a></li>
                                <li><a href="index.html#service">Service</a></li>
                                <li><a href="index.html#team">équipe</a></li>
                                <li><a href="index.html#price">prix</a></li>
                                <li><a href="index.html#contact">Contact</a></li>
                                <li><a href="index.html#price">Engagez-nous</a></li>
                               <!-- Dropdown -->
                            </ul>
                          </div>
                    </div>
                </nav>
            </header>
            <!-- End Header Area -->
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            <h2 class="text-white kaushan-lg" style="font-size: 4em;">Rejoignez-Nous</h2>
                            <p class="text-white">Nous sommes toujours impatients d'ajouter de nouveaux membres</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- About Generic Start -->
        <div class="main-wrapper">

            <!-- Start feature Area -->
            <section class="feature-area section-gap" id="feature">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Remplissez notre questionnaire et rejoignez-nous</h1>
                                <p>Il faut une étape pour rejoindre la meilleure équipe au Cameroun.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="joinForm" action="core/join_req.php" method="post" name="Form" novalidate>
                            <label>Nom complet</label>
                            <input type="text" name="name" placeholder="Votre Nom" required ng-model="name">
                            <p class="error" ng-show="Form.name.$dirty && Form.name.$invalid">Le nom est requis</p>
                            <label>adresse e-mail</label>
                            <input type="email" ng-model="email" name="email" placeholder="Votre Email" required>
                            <p class="error" ng-show="Form.email.$dirty && Form.email.$invalid">
                                <span ng-show="Form.email.$error.required">Le courriel est requis</span>
                                <span ng-show="Form.email.$error.email">Adresse e-mail invalide.</span>
                            </p>
                            <label>Numéro de téléphone ( SEULEMENT CAMEROONIEN )</label>
                            <input type="number" name="number" placeholder="Votre Nnuméro de téléphone ( +237 6 ... )" required ng-model="number" num-valid>
                            <p class="error" ng-show="Form.number.$dirty && Form.number.$invalid">Numéro de téléphone invalide.</p>
                            <label>Surnom</label>
                            <input type="text" name="nickname" placeholder="Que devrions-nous vous appeler?" required>
                            <label>emplacement</label>
                            <div class="form-select" id="default-select">
                                <select name="location" required>
                                    <option data-display="Choisir ton emplacement" selected="selected" disabled="disabled">Region</option>
                                    <option>Adamawa</option>
                                    <option>Extrème nord</option>
                                    <option>Nord</option>
                                    <option>l'est</option>
                                    <option>l'ouest</option>
                                    <option>Centre</option>
                                    <option>Sud Ouest</option>
                                    <option>Nord Ouest</option>
                                    <option>Sud</option>
                                    <option>Littoral</option>
                                </select>
                            </div>
                            <label>Bref aperçu de votre ensemble de compétences</label>
                            <textarea required name="skills" ng-model="skills" cols="40" rows="4" placeholder="compétences e.g. HTML, PHP, JS"></textarea>
                            <p class="error" ng-show="Form.skills.$dirty && Form.skills.$invalid">Nous exigeons que vous nous disiez vos compétences.</p>
                            <label>Brève auto-présentation</label>
                            <textarea name="about" cols="40" rows="4" placeholder="Parlez-nous de vous" ng-model="about" required></textarea>
                            <p class="error" ng-show="Form.about.$dirty && Form.about.$invalid">Nous avons besoin de te connaître.</p>
                            <button ng-disabled="Form.$untouched || Form.name.$invalid || Form.email.$invalid || Form.number.$invalid || Form.skills.$invalid || Form.about.$invalid" type="submit" class="primary-btn mt-20 text-uppercase" style="width:auto;">Joindre<span class="lnr lnr-arrow-right"></span></button>
                        </form>

                    </div>
                </div>
            </section>
            <!-- End feature Area -->

            <!-- start footer Area -->
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h6>À propos de nous</h6>
                                <p>
                                    SilverSlopes est une organisation de conception web, créée par Formin Hubert et Jingo Famous pour aider la plupart des Camerounais à mettre en place des sites web pour eux-mêmes et leurs entreprises, à des tarifs très bas.
                                </p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved SilverSlopes</p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                        <div class="col-lg-5  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h6>Bulletin</h6>
                                <p>Restez à jour avec notre dernière</p>
                                <div class="" id="mc_embed_signup">

                                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

                                        <div class="d-flex flex-row">

                                            <input class="form-control" name="EMAIL" placeholder="Entrer l'adresse e-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">


                                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                                <div style="position: absolute; left: -5000px;">
                                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                                </div>

                                            <!-- <div class="col-lg-4 col-md-4">
                                                <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                            </div>  -->
                                        </div>
                                        <div class="info"></div>
                                        </form>
                                </div>
                                </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h6>Suivez Nous</h6>
                                <p>Soyons sociaux</p>
                                <div class="footer-social d-flex align-items-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer Area -->


        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.DonutWidget.min.js"></script>
        <script src="js/join.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
